{% extends "library/base_generic.html" %}
{% load i18n %}

{% block content %}
    <h1>{% translate "Borrowed books" %}</h1>

    {% if bookinstance_list %}
    <ul>

      {% for bookinst in bookinstance_list %}
      <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
        <a href="{{  bookinst.get_absolute_url }}">{{bookinst}}</a>
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>{% translate "There are no books borrowed." %}</p>
    {% endif %}

    <h1>{% translate "Borrowed material" %}</h1>

    {% if materialinstance_list %}
    <ul>

      {% for materialinst in materialinstance_list %}
      <li class="{% if materialinst.is_overdue %}text-danger{% endif %}">
        <a href="{{  materialinst.get_absolute_url }}">{{materialinst}}</a>
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>{% translate "There are no materials borrowed." %}</p>
    {% endif %}
{% endblock %}