{% extends "library/base_generic.html" %}
{% load i18n %}

{% block content %}

    <h1>{% translate "Borrowed books" %}</h1>

    {% if bookinstance_list %}
    <ul>

      {% for bookinst in bookinstance_list %}
      <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
        <a href="{% url 'library:book-detail' bookinst.book.pk %}">{{bookinst}}</a>
		 {% if perms.library.can_mark_returned %}- <a href="{% url 'library:renew-item-librarian' bookinst.id %}">{% translate "Renew" %}</a>  {% endif %}
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>{% translate "There are no books borrowed." %}</p>
    {% endif %}

    <h1>{% translate "Borrowed material" %}</h1>

    {% if materialinstance_list %}
    <ul>

      {% for materialinst in materialinstance_list %}
      <li class="{% if materialinst.is_overdue %}text-danger{% endif %}">
        <a href="{% url 'library:material-detail' materialinst.material.pk %}">{{materialinst}}</a>
		 {% if perms.library.can_mark_returned %}- <a href="{% url 'library:renew-item-librarian' materialinst.id %}">{% translate "Renew" %}</a>  {% endif %}
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>{% translate "There are no materials borrowed." %}</p>
    {% endif %}
{% endblock %}
