<table>
    <tr>
    <th>Label</th>
    <th>Description</th>
    <th>Borrower</th>
    <th>Due</th>
    {% if perms.library.can_mark_returned %}
    <th>Change status</th>
    {% endif %}


    </tr>
    {% for item in item_list %}
        <tr class="{% if item.is_overdue %}text-danger{% endif %}">
            <td><a href="{% url 'library:bookInstance-detail' item.pk %}">{{ item.label }}</a></td>
            <td>{{ item.description }}</td>
            <td>{{ item.borrower }}</td>
            <td>{{ item.due_back }}</td>
            {% if perms.library.can_mark_returned %}
            <td><a href="{% url 'library:renew-item-librarian' item.id %}">Renew</a></td>
            {% endif %}


        </tr>
    {% endfor %}
</table>


