{% block sidebar %}
{% load i18n %}
    <div class="sidebar-nav">
        <ul class="sidebar-nav-top">
            <li><a href="{% url 'library:index' %}"><i class="fas fa-home"></i> {% translate "Home" %}</a></li>
            <li><a href="{% url 'library:search' %}"><i class="fas fa-search"></i> {% translate "Search" %}</a></li>
            <li><a href="{% url 'library:books' %}"><i class="fas fa-book"></i> {% translate "Books" %}</a></li>
            <li><a href="{% url 'library:materials' %}"><i class="fas fa-glasses"></i> {% translate "Material" %}</a></li>
            <li><a href="{% url 'library:authors' %}"><i class="fas fa-feather-alt"></i> {% translate "Authors" %}</a></li>
            <li><a href="{% url 'library:openinghours' %}"><i class="fas fa-clock"></i> {% translate "Opening hours" %}</a></li>
            {% if perms.library.can_see_borrowed %}
                <li><a href="{% url 'library:loaned-items' %}"><i class="fas fa-list"></i> {% translate "All loans" %}</a></li>
            {% endif %}

            {% if user.is_authenticated %}
                <li><a href="{% url 'library:my-loans' %}"><i class="fas fa-undo-alt"></i> {% translate "My Loans" %}</a></li>
                <li><a href="{% url 'library:my-profile' %}"><i class="fas fa-user"></i> {{ request.user.get_username }} </a></li>
                <li><a href="{% url 'logout' %}?next={{ request.path }}"><i class="fas fa-sign-out-alt"></i> {% translate "Logout" %}</a>
                </li>
            {% else %}
                <li><a href="{% url 'login' %}?next={{ request.path }}"><i class="fas fa-sign-in-alt"></i> {% translate "Login" %}</a>
                </li>
            {% endif %}
            {% if user.is_staff %}
                <a href="{% url 'admin:index' %}">{% translate "Admin" %}</a>
            {% endif %}

        </ul>
    </div>
{% endblock %}